:root {
    --radius: 15px;
    --button-width: 60px;
    --position-spacing: 3%;
    --hidden-btn-right-offset: 80px;
    --hidden-btn-top-offset: 10px;
    --hidden-btn-gap: 60px;

    --sidebar-title: 24px;

    --light-grey: rgb(219, 228, 242);
    --button-shadow: rgb(168, 173, 184);
    --light-blue: rgb(33, 140, 227);
    --sidebar-highlight: rgb(25, 146, 238);
}

@font-face {
    font-family: coolvetica;
    src: url(fonts/coolvetica\ rg.otf);
}

@font-face {
    font-family: LEMONMILK;
    src: url(fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: LUMINA;
    src: url(fonts/LUMINA.ttf);
}

body {
    background-image: linear-gradient(45deg, rgb(0, 77, 177), rgb(0, 225, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.main-card {
    background-color: rgb(244, 248, 255);
    border-radius: var(--radius);
    height: 800px; /* Placeholder */
    width: clamp(850px, 50%, 1500px);
    box-shadow: 0px 5px 10px rgba(0, 50, 115, 0.8);
    display: grid;
    grid-template-rows: 75px 1fr;
}

.content {
    display: flex;
    align-items: normal;
    position: relative;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LEMONMILK;
    font-size: 40px;
    background-color: rgb(73, 201, 226);
    color: white;
    border-radius: var(--radius) var(--radius) 0px 0px;
    line-height: 50px;
    text-shadow: 2px 2px 0px rgb(67, 149, 197);
}

.title-icon {
    font-size: 50px;
}

.sidebar {
    height: 100%;
    width: clamp(250px, 10%, 200px);
    background-color: var(--light-grey);
    border-radius: 0 0px 0px var(--radius);
    box-shadow: 2px 0px 5px rgba(141, 145, 154, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 30px; */
    padding: 40px 0px;
    box-sizing: border-box;

    & :last-child {
        flex: auto;
    }
}

.sidebar div {
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
}

.sidebar-big-text {
    font-size: var(--sidebar-title);
    font-family: LEMONMILK;
    font-weight: 100;
    margin: 0px;
    line-height: calc(var(--sidebar-title) + 3px);
    text-align: start;
}

.sidebar div button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.sidebar div:hover button,
.highlighted {
    font-size: calc(var(--sidebar-title) + 1px);
    font-weight: bold;
    color: var(--sidebar-highlight)
}

.body-content {
    height: 100%;
    flex: auto;
}

.add-button {
    border: 0px;
    border-radius: 100px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-width);
    width: var(--button-width);
    box-sizing: border-box;
    padding: 0px;
    position: absolute;
    bottom: var(--position-spacing);
    right: var(--position-spacing);
    box-shadow: 2px 2px 2px rgb(168, 173, 184);

    & span {
        color: white;
        font-size: var(--button-width);
    }
}

.add-button:hover {
    background-color: black;
    height: calc(var(--button-width) + 2px);
    width: calc(var(--button-width) + 2px);
}

.hide {
    display: none;
}

.hidden-menu-btn {
    position: absolute;
    background-color: var(--light-grey);
    padding: 12px;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    box-shadow: 2px 2px 5px var(--button-shadow);
}

.hidden-menu-btn:hover {
    padding: 14px;
    background-color: var(--sidebar-highlight);
    color: white;
}

.add-todo-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset) + (var(--hidden-btn-gap)*2));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

.add-project-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset) + var(--hidden-btn-gap));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

.add-note-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

dialog {
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 0px 5px 20px black;
    border: 0px;
    border-radius: 15px;
}

::backdrop {
    /* background-image: radial-gradient(rgb(28, 28, 28), rgb(74, 74, 74)); */
    backdrop-filter: blur(7px);
}

@media only screen and (max-width: 1500px) {
    body {
        display: block;
    }

    .main-card {
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }

    .title-container {
        border-radius: 0px;
    }

    .sidebar {
        padding: 50px 10px;
    }
}