:root {
    --radius: 15px;
    --button-width: 60px;
    --position-spacing: 3%;
    --hidden-btn-right-offset: 80px;
    --hidden-btn-top-offset: 10px;
    --hidden-btn-gap: 60px;

    --sidebar-title: 24px;
    --sidebar-title-small: 18px;
    --text: 20px;
    --row-icon-size: 45px;

    --light-grey: rgb(219, 228, 242);
    --button-shadow: rgb(168, 173, 184);
    --light-blue: rgb(33, 140, 227);
    --sidebar-highlight: rgb(25, 146, 238);
    --white: rgb(244, 248, 255);
    --strike-out: rgb(174, 174, 174);
}

@font-face {
    font-family: coolvetica;
    src: url(fonts/coolvetica\ rg.otf);
}

@font-face {
    font-family: LEMONMILK;
    src: url(fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: LUMINA;
    src: url(fonts/LUMINA.ttf);
}

body {
    background-image: linear-gradient(45deg, rgb(0, 77, 177), rgb(0, 225, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.main-card {
    background-color: var(--white);
    border-radius: var(--radius);
    height: 800px; /* Placeholder */
    width: clamp(1100px, 60%, 1500px);
    box-shadow: 0px 5px 10px rgba(0, 50, 115, 0.8);
    display: grid;
    grid-template-rows: 75px 1fr;
}

.content {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: auto;
    min-height: 100%;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LEMONMILK;
    font-size: 40px;
    background-color: rgb(73, 201, 226);
    color: white;
    border-radius: var(--radius) var(--radius) 0px 0px;
    line-height: 50px;
    text-shadow: 2px 2px 0px rgb(67, 149, 197);
}

.title-icon {
    font-size: 50px;
}

.sidebar {
    height: 100%;
    width: clamp(350px, 10%, 200px);
    background-color: var(--light-grey);
    border-radius: 0 0px 0px var(--radius);
    box-shadow: 2px 0px 5px rgba(141, 145, 154, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    box-sizing: border-box;
}

.sidebar:last-child {
    flex: auto;
}

.sidebar div {
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
    min-width: 100%;
}

.sidebar-big-text {
    font-size: var(--sidebar-title);
    font-family: LEMONMILK;
    font-weight: 100;
    margin: 0px;
    line-height: calc(var(--sidebar-title) + 3px);
    text-align: start;
}

.sidebar div button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.project-list {
    padding-left: 10px;
    margin-top: 0px;
}

.project-list li {
    padding: 5px 0px;
}

.project-list li button {
    list-style: none;
    text-align: start;
    font-size: var(--sidebar-title-small);
    font-family: LEMONMILK;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.project-list li {
    list-style: none;
}

.highlighted {
    font-size: calc(var(--sidebar-title) + 1px);
    font-weight: bold;
    color: var(--sidebar-highlight);
}

.project-list-container {
    overflow: auto;
    margin-top: 10px;
}

.project-option button {
    text-overflow: ellipsis;
}

#projects-header {
    border-bottom: 2px solid black;
    margin-top: 30px;
}

.body-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    gap: 15px;
    overflow: auto;
    flex: auto;
}

.empty-title {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-family: coolvetica;
    font-weight: 100;
}

.todo-row {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    font-size: var(--text);
    box-shadow: 0px 5px 5px rgb(177, 177, 177);
    position: relative;
}

.todo-row-element {
    font-family: Coolvetica;
    margin: 0px;
    text-align: center;
}

#todo-edit-btn,
#todo-delete-btn {
    font-size: calc(var(--row-icon-size) - 5px) ;
    padding: 0px;
    line-height: calc(var(--row-icon-size));
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#todo-checkbox:hover,
#todo-edit-btn:hover,
#todo-delete-btn:hover {
    cursor: pointer;
}

#priority-indicator {
    position: absolute;
    height: 100%;
    width: 1%;
}

#todo-checkbox {
    grid-column: 1/2;
    font-size: var(--row-icon-size);
    line-height: var(--row-icon-size);
}

#todo-title {
    grid-column: 2/3;
    line-height: var(--row-icon-size);
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-title-hover:hover {
    color: var(--sidebar-highlight);
}

.strike-out {
    color: var(--strike-out);
    text-decoration: line-through;
}

#todo-date {
    grid-column: 3/4;
    line-height: var(--row-icon-size);
}

#todo-edit-btn {
    grid-column: 4/5;
}

#todo-delete-btn {
    grid-column: 5/6;
}

.add-button {
    border: 0px;
    border-radius: 100px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-width);
    width: var(--button-width);
    box-sizing: border-box;
    padding: 0px;
    position: absolute;
    bottom: var(--position-spacing);
    right: var(--position-spacing);
    box-shadow: 2px 2px 2px rgb(168, 173, 184);

    & span {
        color: white;
        font-size: var(--button-width);
    }
}

.add-button:hover {
    background-color: black;
    height: calc(var(--button-width) + 2px);
    width: calc(var(--button-width) + 2px);
}

.hide {
    display: none;
}

.hidden-menu-btn {
    position: absolute;
    background-color: var(--light-grey);
    padding: 12px;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    box-shadow: 2px 2px 5px var(--button-shadow);
}

.hidden-menu-btn:hover {
    padding: 14px;
    background-color: var(--sidebar-highlight);
    color: white;
}

.add-todo-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset) + (var(--hidden-btn-gap)*2));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

.add-project-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset) + var(--hidden-btn-gap));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

.add-note-button {
    bottom: calc(var(--position-spacing) + var(--hidden-btn-top-offset));
    right: calc(var(--position-spacing) + var(--hidden-btn-right-offset));
}

.note-container {
    column-count: 3;
    column-gap: 15px;
}

.note-card {
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    box-sizing: border-box;
    font-family: coolvetica;
    min-width: 100%;
    display: inline-block;
    width: 100%;
    position: relative;
    /* background-color: ; */

    & * {
        overflow-wrap: break-word;
    }
}

.note-title {
    font-size: var(--text);
}

.note-description {
    font-size: var(--text);
}

.note-delete-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    line-height: 34px;
}

.note-delete-btn:hover {
    color: red;
    font-size: 34px;
}

dialog {
    background-color: var(--white);
    width: 800px;
    box-shadow: 0px 5px 10px rgb(89, 89, 89);
    border: 0px;
    border-radius: 15px;
    padding: 0px;
}

::backdrop {
    backdrop-filter: blur(7px);
}

.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & div {
        height: 60px;
    }
}

form {
    flex: auto;
    display: grid;
    gap: 10px;
    padding: 20px 30px 30px 30px;
    grid-template-columns: 1fr 2fr 1fr;

    & * {
        font-family: coolvetica;
        font-size: 24px;
        background-color: var(--white);
    }
}

.todo-form,
.note-form {
    grid-template-rows: 1fr 5fr 1fr;
}

.project-form {
    grid-template-rows: 1fr 1fr;
}

#title, 
#description, 
#date, 
#low-priority-btn,
#high-priority-btn,
#form-submit-btn {
    border-radius: 15px;
}

#title, 
#description, 
#date {
    padding-left: 15px;
}

#title,
#description {
    border: 0px;
}

#title:focus-visible,
#description:focus-visible {
    outline: 0px;
}

#title {
    grid-row: 1/2;
    grid-column: 1/4;
}

#description {
    grid-row: 2/3;
    grid-column: 1/4;
}

#date {
    grid-row: 3/4;
    grid-column: 1/2;
}

form div {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 10px;
}

#low-priority-btn,
#high-priority-btn {
    background-color: rgba(0,0,0,0);
    height: 40px;
    width: 100px;
}

#low-priority-btn {
    border: 2px solid green;
    color: green;
}

#high-priority-btn {
    border: 2px solid red;
    color: red;
}

#form-submit-btn {
    grid-row: 3/4;
    grid-column: 3/4;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(0,0,0,0);
    height: 60px;
}

#form-submit-btn:hover {
    background-color: rgb(39, 39, 39);
    color: white;
    border: 2px solid rgb(39, 39, 39);
}

@media only screen and (max-width: 1500px) {
    body {
        display: block;
    }

    .main-card {
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }

    .title-container {
        border-radius: 0px;
    }

    .sidebar {
        padding: 50px 10px;
    }
}

@media only screen and (max-width: 1000px) {
    /* Hamburger sidebar */
}